[2019-04-02 06:08] AustinSchuh opened #351 "phantomjs leaks out of the sandbox"
When I run tests on Debian Buster, I get the following failure:

[code]

From some targeted stracing, I'm seeing that the phantomjs binary is reading /etc/ssl/openssl.cnf.  Buster upgrades openssl far enough that the config in /etc/ is too different and won't work.  The correct fix is to provide an openssl.cfg with phantomjs that works.

This is blocking a debian upgrade for us, so I'll likely dig

[2019-04-02 08:19] davido commented on #257
In this PR: https://github.com/bazelbuild/rules_closure/pull/239 I was trying to consume `java_import_external` from bazel itself. In next Bazel version native `maven_jar` is going to be discontiued anyway. IOW, what rules_closure is doing is standard way to consume external dependencies in Bazel.

[2019-04-07 16:45] davido commented on #345
@meteorcloudy, @laurentlb Was this fixed by https://github.com/bazelbuild/rules_closure/pull/352?

[2019-04-08 08:05] meteorcloudy commented on #345
I believe not, #352 only fixes `closure/filegroup_external.bzl`

[2019-04-09 00:59] #323 closed

[2019-04-09 02:07] michaelfig opened #356 "Missing source maps for closure_js_test"
Hi.  First off, I'm not sure if this is related to #16 or #193, so I'm opening a new ticket.

I'm finding that for the `closure_js_test` rule in https://github.com/michaelfig/tink/blob/jstest/javascript/BUILD.bazel#L214

when I run the following from the toplevel `tink` directory, it fails with:

[code]

Okay, no problem, I have a failed test.

What makes things difficult is the lack of source map

[2019-04-09 02:22] michaelfig commented on #356
Indeed, `/private/var/tmp/_bazel_michael/6de72905b448fffc7be7652a860e4346/execroot/tink/bazel-out/darwin-fastbuild/bin/javascript/test_lib_registry_bin.js.map` exists and looks to have the right contents, it's just not appearing in the test output.

Excerpts from the build params may be informative:
[code]

[2019-04-10 02:42] #285 closed

[2019-04-11 16:16] #345 closed

[2019-04-15 01:18] pcj commented on #257
Note: I wrote a special repository rule some time ago to get over this issue.  It may be a workaround until this gets easier.

https://github.com/stackb/rules_proto/blob/master/closure/deps.bzl#L8-L33

[2019-04-15 01:35] pcj opened #359 "ERROR: Bad --suppress value: JSC_DUPLICATE_NAMESPACE"
I'm trying to compile a generated javascript protobuf file, and getting this error that I'm trying to suppress:

[code]

However, including this suppress code causes a different error `ERROR: Bad --suppress value: JSC_DUPLICATE_NAMESPACE`:

[code]

Trying to track this down but I suspect it may be related to https://github.com/bazelbuild/rules_closure/pull/347, but it's not so easy to bisect it.

[2019-04-16 00:51] gkdn commented on #359
Seems like a valid error if the js/pb/pb.js is providing a jspb.Message in addition to the one coming from the dep to ["@io_bazel_rules_closure//closure/protobuf:jspb"].

Looking at what com_github_stackb_grpc_js does, my rough guess is you are using protoc in a way that embeds jspb runtime into the generated code.

[2019-04-16 14:48] pcj commented on #359
Regardless of whether the error is valid or not should the compiler not respect the `suppress` value?  It seems like a bug somewhere if it reports the code but then does not recognize it as something that can be suppressed.

I think you are right about the duplicate namespace above.  I've removed `//js/pb` but now struggling with a different error:

[code]

But again I cannot suppress `JSC_MIXED_M

[2019-04-16 16:10] Yannic commented on #359
Seems like this is similar to #229

[2019-04-16 18:27] gkdn commented on #359
You can only suppress the ones and their aliases in

https://github.com/bazelbuild/rules_closure/blob/50d3dc9e6d27a5577a0f95708466718825d579f4/java/com/google/javascript/jscomp/Diagnostics.java#L75

Feel free to send patches for missing ones that exists in com/google/javascript/jscomp/parsing/ParserConfig.properties

JSC_DUPLICATE_NAMESPACE doesn't seem like in both of the lists. Has the error mes

[2019-04-17 00:27] pcj commented on #359
OK, sending a PR.  For reference, here are the suppression codes by group:

[code]

[2019-04-17 00:54] pcj commented on #359
And FWIW, I realize these are bizarre things to try and suppress.  However, they occur within the i.js file that is generated by the JsChecker as follows:

[code]

I'm not sure, but it seems to me that `compiler.toSource()` is generating invalid output under various conditions, not fully taking into account the ordering of source files or slightly transforming output in some way.

[2019-04-30 16:55] #351 closed

[2019-05-11 02:42] sgammon opened #372 "Incremental DOM support"
Now that there is updated support for Incremental DOM in the Closure Templates repo, is there any way this project could gain support for it again?

[2019-05-14 17:46] sgammon opened #374 "Documentation for `web_library`"
Hey there `rules_closure` team - I'm getting an error trying to setup Bazel with the Closure toolchain:

[code]

It would be massively helpful if someone could explain how to use `web_library` in conjunction with `closure_js_library`/`closure_js_binary`

[2019-05-24 09:36] eustas commented on #189
ES6 is 4 years old, modules are everywhere... But JS + Bazel is still in the early stone age.
Now one must add one more mantra to every target with deps: `suppress = ["moduleLoad"]`

[2019-06-01 18:08] robfig opened #381 "closure_js_template_library.should_provide_require_soy_namespaces does nothing"
I'm using `closure_js_template_library` with an application that uses closure modules, so I need the generated code to use `goog.provide` / `goog.require`.  The documentation says that `should_provide_require_soy_namespaces` is passed through to the compiler, but in fact it does nothing because SoyToJsSrcCompiler had that flag removed at some point.

That sounds ok, except I'm overriding it with a

[2019-06-02 13:39] robfig opened #382 "Closure Library targets omit third_party tree"
Some code that I'm trying to build with rules_closure requires `goog.dom.query`, which is provided by this file, within the closure_library jar: `third_party/closure/goog/dojo/dom/query.js`. The `third_party` tree does not seem to be covered in the auto-generated BUILD rules provided by rules_closure. It seems like the script that generates them (`closure/library/regenerate.py`) could probably eas

[2019-06-04 01:51] gkdn commented on #381
The documentation should be removed.
w.r.t passthrough; we can accept something in the lines of defs attribute for closure_js_binary rule.

[2019-06-04 02:06] gkdn commented on #382
I'm not much familiar with this part but seems like it is already available here:
https://github.com/bazelbuild/rules_closure/blob/master/third_party/closure/library/dojo/dom/BUILD

[2019-06-04 02:06] #382 closed

[2019-06-04 11:02] robfig commented on #382
!!
Sorry about that, not sure how I missed it! Thank you

[2019-06-04 23:51] robfig commented on #381
I also removed the old `should_provide_require_soy_namespaces` property to reduce confusion in the future. Let me know if you'd like to leave it with a note instead.

[2019-06-06 21:05] #381 closed

[2019-06-07 16:14] sgammon opened #388 "Issues building protos, and using them"
Hey there `rules_closure` folks,

I was wondering if someone could help me out with compilation and use of protos from Soy (in JS and Java). First things first, I'm aware there is not yet support in `rules_closure` for proto use from Java, although I was not able to answer that question fully for JS.

`SomeModel.proto`:
[code]

`WORKSPACE`:
[code]

`BUILD`:
[code]

I can't get Soy to recognize the

[2019-06-07 16:20] sgammon commented on #388
### When using `closure_proto_library`:
- This seems to be the new version of the first rule I mentioned. So I tried to depend on it, but, I get the following output:
[code]

[2019-06-07 17:13] Yannic commented on #388
Regarding `closure_proto_library`: Unfortunately, that's a known limitation of the new rule. #314 aimed to fix that, but it was decided that it's a bit weird to have this special handling for templates. @gkdn I agree with your previous comment in #314, but it might be worth to merge it anyway, so people don't have to use the legacy `closure_js_proto_library` rule.

Regarding `closure_js_proto_libr

[2019-06-07 17:15] sgammon commented on #388
@Yannic, i actually got it to work somehow, i'm still trying to figure out now if i'm using a fork and it's my local state, or if it was fixed in master for my use case. but thank you for your response in any case.

regarding `closure_proto_library`, the restriction for only one entry in `deps` is rather cumbersome. are there still plans to lift this restriction? we keep a whole tree of dependenci

[2019-06-07 17:16] sgammon commented on #388
@Yannic then again, if that one dep supports aliases, and transitive dependencies, that would be fine with us (in terms of `closure_proto_library`). thank you again, this project is awesome and we want to help any way we can

[2019-06-07 17:24] sgammon commented on #388
@gkdn please, could we merge that PR, pending a better approach? 😁

[2019-06-07 17:55] Yannic commented on #388
@sgammon We have this restriction to one entry to be in sync what `{cc,java}_proto_library` do, so I'd rather not lift that restriction.

I'm not sure what you mean by alias, but transitive dependencies should just work.

[code]

Does this answer your question?

[2019-06-07 18:05] sgammon commented on #388
yes, i think that does help. so it's just that we need to get that PR merged, so we can use that new rule with Soy (just clarifying)?

[2019-06-07 18:11] Yannic commented on #388
I think so, but that's @gkdn's decision.

[2019-06-07 18:11] Yannic opened #389 "RFC: Add "modern" version of closure_template_library"
## Current situation

`closure_template_{java,js}_library` has been part of `rules_closure` for some time.
Since its addition in 2016(?), a lot has changed, both in `rules_closure` and `Bazel`, and I think it's time to create something new. Something that looks and feels more like other "modern" `Bazel`-rules.

The current versions of `closure_template_{java,js}_library` are implemented as thin (i

[2019-06-07 18:15] sgammon commented on #388
@Yannic one more question, if you don't mind. our `proto_library` definitions include a `strip_import_prefix` value, which we need to be able to compile them correctly.

i would use `closure_js_proto_library` in the meantime, because it does work for what we need it to do, but when i try to invoke it, it complains about not being able to import dependencies (which is likely an issue with `strip_im

[2019-06-07 18:24] Yannic commented on #388
AFAICT, there is no equivalent to `strip_import_prefix` with `closure_js_proto_library`.

I'm not sure if `strip_import_prefix` works with `closure_proto_library` because it's a rather new attribute. I don't think we use binary descriptors yet, but maybe that's a good idea. Would you mind trying out whether this works, create a new issue if it doesn't and ask @gkdn to assign it to me? If that does

[2019-06-07 18:37] sgammon commented on #388
@Yannic actually, using `closure_proto_library` seems to work perfectly, when depending on `proto_library` declarations with `strip_import_prefix`.

i'm using it with soy now, building templates (that reference protos) that render correctly, using the `factuno-db` fork on the `soy-fix` branch, specifically [2736f1d](https://github.com/factuno-db/rules_closure/commit/2736f1d33b7911d6aaf2d7e0bbc127e

[2019-06-07 18:42] sgammon commented on #388
@Yannic, pardon me, i spoke too soon. it was working perfectly because the underlying proto had no imports in it.

with a more complex example, i get the following output (i'll file an issue an list this there as well):
[code]

The key item there, of course, is `Missing input file.`. It's looking for a vendored proto file and can't find it.

[2019-06-07 18:48] sgammon opened #390 "Use of `strip_import_prefix` with `closure_proto_library`"
[During discussion](https://github.com/bazelbuild/rules_closure/issues/388#issuecomment-499995862_) under #388, @Yannic suggested an issue be filed to enable support for `strip_import_prefix` in the `closure_proto_library` rule.

We have a tree of protos, defined via `proto_library`. When we try to create accompanying rules for these protos via `closure_proto_library`, Bazel fails to build them, w

[2019-06-07 18:55] Yannic commented on #390
Thanks, I'll look into it.

@stanley-cheung FYI, This issue should also exist in gRPC-Web.

[2019-06-07 19:02] sgammon commented on #389
this would be really awesome in terms of maintainability, at least the way we structure templates when using `rules_closure`. obviously i'm only commenting on the API surface here and not what is needed to land this feature, but this is really cool and we'd be happy to test, or help with PRs.

[2019-06-08 02:09] gkdn commented on #389
Is there any particular reason that you want to use aspects here? They are complicated and only useful if you like to overlay on top of other rules that you don't have control on (for example closure_js_proto overlaying on top of existing proto rules).

I haven't dealt with closure templates but for this particular case, all you you need seems like a macro:

def closure_template_library(name, deps

[2019-06-13 15:56] robfig opened #394 "Create a rules_closure BUILD file generator"
To migrate my company's JS codebase to `rules_closure`, I added a language module to Gazelle:
https://github.com/bazelbuild/bazel-gazelle/compare/master...robfig:js

I don't expect that it will be merged into the upstream project, but @achew22 had the idea that you might be interested to support it, and apparently it's possible to check the language module into this repo, and users would be able t

[2019-06-13 17:10] robfig opened #395 "closure_js_library - exports does not function in a data parameter"
Opening an issue to hopefully get eyes on this guy:
https://github.com/bazelbuild/rules_closure/pull/391

[2019-06-13 17:12] Yannic commented on #389
The reason why I thought of aspects to implement this is so users don't have to pay the overhead for languages they don't use during analysis, and that it might be slightly easier to add new languages (there is an official generator for python that `rules_closure` doesn't support). That said, I'm open to implementing this without aspects if they turn out to not be worth the extra effort.

The main

[2019-06-15 05:00] #390 closed

[2019-06-19 17:50] vmsp opened #397 "Document recommended project structure/architecture"
It would be great if the "right way" to do project structure with closure tools and java was documented and shown in an example project. This was already brought up in a tangential discussion in issue #77.

Thank you! I look forward to using bazel and closure!

[2019-06-20 12:48] robfig commented on #395
This was fixed / merged

[2019-06-20 12:48] #395 closed

[2019-06-20 12:51] robfig opened #398 "Support for chunks"
Is there any plan to support chunks for code splitting?
https://github.com/google/closure-compiler/wiki/Flags-and-Options#code-splitting

[2019-06-20 12:55] robfig commented on #398
Sorry, I see that is tracked as https://github.com/bazelbuild/rules_closure/issues/110

[2019-06-20 12:55] #398 closed

[2019-06-29 15:20] robfig opened #399 "closure_js_binary: output_wrapper for adding sourceMappingURL"
With plovr, we had been using output_wrapper to add the sourcemap URL to compiled binaries:

[code]

When I try the same thing with `closure_js_binary`:
[code]

I get an error:
[code]

I believe this is due because the output_wrapper is not properly quoted in the command line that gets built up. If I try to quote it myself by adding a single quote to the beginning and end:
[code]

I get a differen

[2019-07-01 00:02] robfig commented on #399
Would you be open to adding a `sourceMappingURL` attr to closure_js_binary, which if specified would have the effect of adding that last line to the file?

[2019-07-05 20:49] robfig commented on #16
Looking more into the sourcemap situation, it appears that the sourcemaps produced by default already include the full set of source code in them. Therefore, I don't believe that location mapping is necessary at all. Is that accurate?

Related: #399

[2019-07-06 21:22] sgammon commented on #110
@JaredNeil, did you ever end up writing those rules? if so, any interest in sharing code, or at least notes about your approach?

@jart i dunno if you're still involved with this project - firstly, this is such an awesome framework, we absolutely love it! we are a direct result of the grow-your-userbase goal. `rules_closure` is what brought us to Bazel and we haven't looked back.

i'm just wonderi

[2019-07-06 21:23] sgammon commented on #110
perhaps @robfig / @hochhaus might have additional notes, too?

[2019-07-08 07:41] sgammon opened #401 "CSS rewriting not working in JS templates"
**tl;dr** CSS rewriting does not seem to be working, at least in terms of JS' invocation of `getCssName`.

Given the following setup (`WORKSPACE` and related wiring omitted):

**`sample.soy`**:
[code]

**`sample.css`**:
[code]

**`sample.js`**:
[code]

**`BUILD.bazel`**:
[code]

When I build and run the resulting JS, the template renders, but it renders with the original CSS names, whereas, the CS

[2019-07-08 18:44] JaredNeil commented on #110
We did end up writing our own rules. They are very customized to the way we use chunking (compiling the same chunks multiple times with multiple applications), but the general idea is having a rule that creates a file with the list of files that should be in that chunk, and then a separate rule that combines all of those chunks into a single closure compiler invocation.

[2019-07-08 19:06] robfig commented on #110
I have not used chunks in the past, although I was interested to be able to do so in the future. I don't think I would be of any help in the implementation unfortunately.

[2019-07-10 05:54] sgammon commented on #401
Did some digging and it definitely seems like *rules_closure* is doing what it should. Cross-filed with GCC at google/closure-compiler#3427.

[2019-07-11 19:03] sgammon commented on #401
after some discussion on google/closure-compiler#3427, and a sample repo at [sgammon/css-rewrite-bug](https://github.com/sgammon/css-rewrite-bug), it has been determined it isn't the compiler, which of course was likely.

it now seems like it might be an issue inside J2CL, because i can't get `rules_closure` to build the sample at all without wrapping it in `j2cl_application`. more to come, if any

[2019-07-11 22:06] robfig opened #404 "closure_js_binary - Internal error - "Too many template parameters""
I'm getting an internal error when building a sizable `closure_js_binary` target. Do you have any advice on how to diagnose this, or have you seen such a thing before? I'm not doing anything exotic or unusual, certainly nothing with jsdoc template parameters.

[code]

[2019-07-11 22:54] sgammon commented on #404
Could you post a snippet from your templates at all? I’m just curious about the syntax causing this

[2019-07-11 23:22] robfig commented on #404
Assuming that "templates" in the message refers to [generic types](https://github.com/google/closure-compiler/wiki/Generic-Types), I have none in my codebase. A git grep '@template' returns no hits, except for the jquery-1.9 externs ($.grep). Generally, we have not done much in the way of annotating for closure compiler. I have another significant js binary building without a problem from the same

[2019-07-12 17:24] robfig commented on #404
This seems to be specific to rules_closure.

I downloaded the latest closure-compiler, and I successfully compiled using the same flagfile as is generated by for rules_closure, after deleting the unsupported flags (`JsCompiler, `--output_errors`, `--info`, `--sourcemap_location_mapping [synthetic`).

[code]

Presently the version of closure compiler used by rules_closure is 20190528. I checked tha

[2019-07-20 10:13] robfig commented on #404
Well, as suggested by the error message, adding this property to closure_js_binary fixes it:
[code]

so it's probably not worth the effort of figuring out why the error message is unhelpful or where the error is coming from. Closing

[2019-07-20 10:13] #404 closed

[2019-07-21 20:10] robfig opened #406 "closure_js_test - Passed tests sometimes hang"
We are just starting to use rules_closure for real, and the second test suite that I've migrated shows flaky behavior on our CI system. I was hoping for some advice on how to diagnose this.

We use teamcity, and when running the suite 3 times in a row, one test finished in TIMEOUT the first run, a different test the second, and all tests passed on the third. It ran on 3 different hosts, but they a

[2019-07-25 00:35] robfig opened #407 "JSX Support / Custom compiler passes"
I would like to use rules_closure with the JSX custom compiler pass developed here:
https://github.com/mihaip/react-closure-compiler

Can anyone provide pointers on how to do such a thing? Would rules_closure be interested in  a pull request adding JSX support to closure_js_library?

Here's my take on how to approach this:

- Package it with closure compiler and use that custom jar instead of tryi

[2019-07-25 15:06] sgammon commented on #407
as a user i am very much against this lol

[2019-07-25 15:09] sgammon commented on #407
like, @robfig, i know how you might go about implementing this, but surely you would want idom-style technologies instead of virtual-DOM and JSX? idk

[2019-07-25 15:44] robfig commented on #407
Caveat - I don't write much front-end code, I'm just a tooling person supporting others, so my opinions are informed by relatively little hands-on experience writing the code, but a lot of code review / maintenance / refactoring to work with build tools.

What idom-style technologies are you referring to? If you mean the Google one that works with Soy templates, that's not much of an alternative.

[2019-07-26 14:47] sgammon commented on #407
I guess my only thing is, there isn't anything preventing use of JSX. It fits at a higher level of abstraction than the Closure compiler. I'm not sure if the two are usable together, outside of `lenient` mode.

When I say `idom` is an alternative, it's because it is. Virtual DOM is the same thing as `idom` or other DOM rendering/reduction approaches, it just chooses not to keep an entire parallel

[2019-07-26 14:51] sgammon commented on #407
Frankly we're talking about two things here: render flow/planning, and components. Shadow DOM is another approach that would get you where you want to go.

Shadow DOM, just like virtual DOM, is not inherently incompatible with `idom`, though. You would just be rendering components in `idom`, from Soy, that are custom elements, which themselves invoke Shadow DOM semantics, including the ability to

[2019-07-26 14:56] sgammon commented on #407
One thing you could look at... I know @jart's awesome [use of `rules_closure` in Tensorboard](https://github.com/tensorflow/tensorboard/blob/master/tensorboard/components/vz_sorting/BUILD) uses the Polymer/Vulcanize stack to do custom elements. The approach would allow you to use shadow DOM in concert with `idom`/Soy.

Take a look, otherwise, good luck with your project. As a user I would personal

[2019-07-26 14:57] sgammon commented on #407
@robfig, one more thing. w.r.t. custom closure passes, those can be setup in the `ClosureWorker` which provides config to GCC.

[2019-07-31 20:45] robfig commented on #407
Thanks for your perspective and links to related work. A year ago when we were looking into idom, there was almost zero resources online; I'd love to read a detailed blog post on how you got everything to work, if you have the desire to publish something someday.

Regarding this particular item, we figured out a way to solve all of our problems using a preprocessing pass, so we're still feeding re

[2019-07-31 20:45] #407 closed

[2019-08-01 02:04] sgammon commented on #407
i understand how you feel, lol

i would be happy to put together a blog post and perhaps a guide to using our fork, if `rules_closure` won't accept the PRs. great idea and good luck with your stuff, glad to hear it's working

[2019-08-06 16:59] sgammon commented on #311
@davido I don't understand why @jart's comment upset you. I find myself agreeing with the points she makes here. Just my 2 cents as a user of the actual library.

[2019-09-04 00:01] concavelenz opened #411 "rules_closure violates Closure Compiler visibility for its Java packages"
rules_closure/java/com/google/javascript/jscomp/ places files within the Closure Compiler package allowing it to violate package visibility and use internal APIs.

There are no guarantees about internal APIs and makes it difficult for the Closure Compiler authors to avoid breaking these rules.

[2019-09-04 00:05] concavelenz opened #412 "rules_closure creates a maintenance burden for Closure Library authors"
Build files like https://github.com/bazelbuild/rules_closure/blob/master/closure/library/ui/BUILD are being maintained separately from Closure Library and make it possible for Closure Library maintainers to break rules_closure simply by introducing a new dependency.

[2019-09-04 06:04] gramic commented on #412
It is also a burden to the users like me, who want to keep up to date with the latest Closure Tools. However, rules_closure helps much more then it burdens me.

Maybe I can help if I get to watch closely Closure Library changes and update the rules with pull requests in faster rate.

[2019-09-04 13:28] Yannic commented on #412
I raised this issue [over a year ago](https://groups.google.com/forum/#!topic/closure-rules-discuss/8bwlPD8G6wY), but here we still are.

@concavelenz Would the Closure Library team be open to adding BUILD files in their repository? I can contribute them if necessary.

[2019-09-04 13:30] Yannic commented on #412
(For reference: google/closure-compiler#3461 google/closure-templates#190)

[2019-09-05 16:06] sgammon commented on #412
I believe @robfig has added a way to generate these files with Gazelle...

[2019-09-06 05:14] concavelenz commented on #412
@Yannic yes they are, it is just a question of getting the time to get the plumbing setup to maintain them.

[2019-09-06 13:18] robfig commented on #412
You can try out my Gazelle fork.
https://github.com/robfig/bazel-gazelle/tree/js

Check that out (the `js` branch), then `bazel build cmd/gazelle:gazelle_js` and run that from the root of your repo.

I mean to transition it to a standalone module instead of a fork, but I'm not sure when I'm going to get to that.

[2019-09-06 23:13] adam-rocska commented on #397
@vmsp The great thing about Bazel is, that it's not "opinionated", or whatever the trendy coined term is nowadays. Design your software however you please, and Bazel can handle it. Same for Closure.

[2019-09-07 12:18] Yannic commented on #399
`output_wrapper` is powered by [--output_wrapper](https://github.com/google/closure-compiler/blob/445fdf3f31d848d955d71d10f4794b45c0f4d1a6/src/com/google/javascript/jscomp/CommandLineRunner.java#L349), which doesn't seem to allow multi-line wrappers. We should be able to manifest the wrapper as file and switch to `--output_wrapper_file`.

[2019-09-07 12:40] Yannic commented on #401
The issue is that you set `dependency_mode = "STRICT"`, which will eliminate all files that are not in the transitive closure of `entry_points` (i.e. not in `entry_points` and never `goog.require`d). As a workaround, you can
  - set `dependency_mode = "PRUNE_LEGACY"` which will include all files without `goog.{module,provide}` as entry points (https://github.com/google/closure-compiler/blob/445fdf

[2019-09-07 12:44] Yannic commented on #401
Also, `dependency_mode = "STRICT"` is deprecated. You should switch to `dependency_mode = "PRUNE"` which has the same effect:

https://github.com/google/closure-compiler/blob/445fdf3f31d848d955d71d10f4794b45c0f4d1a6/src/com/google/javascript/jscomp/CommandLineRunner.java#L145

[2019-09-13 22:26] Yannic opened #419 "Files missing mirror.bazel.build"
See e.g. https://buildkite.com/bazel/rules-closure-closure-compiler/builds/558#6c9b9967-a67c-4151-9283-06179d6e47bd/239-250

[code]

[2019-09-13 22:28] Yannic opened #420 "Make rules closure ready for remote execution"
It's failing: https://buildkite.com/bazel/rules-closure-closure-compiler/builds/558#6c9b9967-a67c-4151-9283-06179d6e47bd

[2019-09-14 13:14] Yannic opened #421 "Make rules_closure conform to Style Guide for Rules"
Tracking bug for making rules_closure conform to Bazel's [Style Guide for Rules](https://docs.bazel.build/versions/master/skylark/deploying.html).

Known issues:
  - [ ] Dependencies / Toolchains should be declared by `rules_closure_{dependencies,toolchains}` in `closure/repositories.bzl`: https://docs.bazel.build/versions/master/skylark/deploying.html#dependencies

[2019-09-26 21:20] lauraharker opened #426 "Upcoming Closure Compiler change will break some *_typecheck targets"
I'm working on a change to the Closure Compiler that will make referencing Closure dependency methods like `goog.provide` or `goog.module` an error, unless `goog` is defined somewhere. Right now the compiler (unintentionally) allows this pattern.

So any targets using `goog.{provide,module}` that don't include base.js will no longer compile.

I ran into a breakage while testing this inside Google

[2019-09-27 23:44] gkdn commented on #426
I think by default all libraries get the closure dep. See here:
https://github.com/bazelbuild/rules_closure/blob/74dc51fa78e19f3a9fb7cbefbc7969508e4b8b6a/closure/private/defs.bzl#L108

[2019-09-28 00:24] lauraharker commented on #426
Either some or all library-level typechecking builds do not get the closure base dep. Hence the 'undefined goog' error.

I admit I'm not familiar enough with rules_closure to know if using the library-level _typecheck targets is common or not, though.

The result of the `collect_js` method call you linked that adds closure base is stored in a variable `js`: https://github.com/bazelbuild/rules_clos

[2019-09-28 00:54] gkdn commented on #426
Looks at it, yes it seems like it is getting only the original srcs. Passing js.srcs doesn't seem like a good idea because it looks like it has the transitive srcs as well.

The better solution seems like having your fake base.i.js added to js.ijs list when the js is collected. However wouldn't we want a more i.js file there? I'm not sure about the implications about the fake file.

How do you han

[2019-09-28 01:08] lauraharker commented on #426
Yeah, I agree that actually generating the .i.js is a better solution. @tjgq and I just could not figure out how to get it working after trying for an afternoon, so we tried finding a simpler workaround :| I have a copy of what progress we did make, and I'll see if any of that would be useful as a starting point.

In google3, the non-bazel library-level typechecking rules don't special-case base.j

[2019-09-28 19:02] Andrew-Cottrell commented on #181
The following works with `@suppress {reportUnknownTypes}` only applied in a minimal scope

    function parseComment4() {
        try {
            throw new Error;
        } catch (ex) {
            return (/** @return {string} @suppress {reportUnknownTypes} */ function () {
                return ex.message;
            })();
        }
    }

Seems like caught exceptions are inferred as `@type {

[2019-10-07 21:36] #426 closed

[2019-10-08 20:14] alexeagle commented on #412
@robfig that looks great, I am planning to pick up this task and make these BUILD files part of the closure-library distribution. I'll try out your gazelle plugin.

[2019-10-11 20:48] alexeagle commented on #412
@robfig I tried that out yesterday, totally works. We are thinking about a couple things though:
- it would be good if closure-library can be consumed without rules_closure since the latter is kinda unmaintained, compared with rules_nodejs that supports the entire JS ecosystem. So I think we should use the `js_library` rule from rules_nodejs - I need to promote it to the public API first
- We have

[2019-10-13 17:54] robfig commented on #412
It makes sense if you want to support `rules_nodejs` since it's more popular. But, if you publish BUILD files with `js_library` rules, would that address `rules_closure` BUILD file maintenance, or is that a "won't fix" response? It does seem like publishing your internal BUILD files would be the ideal solution -- even if it doesn't use rules_closure, I suppose it should be easy to mechanically con

[2019-10-14 09:11] davido opened #434 "Switch off from using closure/private/java_import_external.bzl"
The official `java_import_external` should be used.

I was trying to do it in: https://github.com/bazelbuild/rules_closure/pull/239.

[2019-10-16 20:25] alexeagle commented on #412
FYI I got this working, just a snapshot of closure-library
https://github.com/google/closure-library/compare/v20190415...alexeagle:mv_library_build
which is consumed by rules_closure
https://github.com/bazelbuild/rules_closure/compare/b2a6fb762a2a655d9970d88a9218b7a1cf098ffa...alexeagle:mv_library_build
and it works when used by a typical rules_closure user:
https://github.com/jleyba/js-dossier/co

[2019-10-18 12:42] Yannic commented on #421
@alexeagle Can you handle the repo description issue?

[2019-10-18 13:40] alexeagle commented on #421
Sure, done, thanks for picking this up.

[2019-10-18 14:20] #434 closed

[2019-10-18 14:55] Yannic commented on #421
Thank you!

[2019-10-21 16:02] robfig opened #436 "moduleLoad spuriously fires on ES6 imports"
When using rules_closure to compile a trivial js application that uses ES6 modules, compilation fails unless `moduleLoad` is suppressed.

This can be seen in https://github.com/bazelbuild/rules_closure/pull/409

[2019-10-21 19:34] gkdn commented on #436
@alexeagle b/129555304 is the internal underlying bug tracking this.

[2019-11-06 22:24] wchargin opened #441 "`filegroup_external` should set `canonical_id`"
Using `filegroup_external` to download files has the downside that if
one bumps the version number of the source URL, but forgets to update
the SHA-256 checksum, then Bazel will assume that the content is
unchanged and will silently use the old version. The canonical issue
thread for this is: <https://github.com/bazelbuild/bazel/issues/5144>

Bazel now exposes a way to mitigate this problem—`ctx.d

[2019-11-25 21:02] robfig commented on #197
I need this feature.. @Yannic, do you have any guidance on what the implementation should look like?

In particular, I'm not sure how best to modify the classpath that SoyToJsSrcCompiler gets run with. It looks like the generated wrapper script does not support extra values in the CLASSPATH env var, and I'm seeing an error when (ab)using --main_advice_classpath, although it might be a red herring.

[2019-11-26 10:31] Yannic commented on #197
TIL about `—main_advice_classpath` :).

First, you might want to take a look at `JavaInfo#transitive_runtime_jars`. `compile_jars` contains targets that are marked as `neverlink = True`.

For adding the plugin to the classpath, I suggest the following approach:
[code]

If that still shows the same error, try also adding `ctx.attr.compiler[JavaInfo].transitive_runtime_jars` to `transitive_inputs`.

[2019-11-26 14:13] robfig commented on #197
Thank you! Got it working, added a test, submitted a PR

[2019-11-26 14:32] robfig commented on #197
As an aside, I get other errors which I'm able to suppress, but which I don't understand. Just curious if you happen to know what they are about.

When building the closure_js_template_library rule, it generates JS source without a problem, but then the type checking of that rule fails:
[code]

I see errors like this:
[code]

Suppressing lateProvide gets me past that; e.g. the jspb.utils provide i

[2019-11-26 16:18] Yannic commented on #197
I‘ve never seen this error, sorry.

It seems like this could be an ordering issue with the files which should be safe to suppress, but that‘s just a wild guess.
If you can provide a repro repo, I might be able to take a look (but it could be a while until I get to that).

[2019-12-02 17:57] alexeagle commented on #419
I mirrored all these URLs, thanks!

[2019-12-02 17:57] #419 closed

[2019-12-04 21:26] #197 closed

[2019-12-19 04:29] bazel-flag-bot opened #448 "Flag --incompatible_disallow_empty_glob will break rules_closure in Bazel 1.2.1"
Incompatible flag --incompatible_disallow_empty_glob will break rules_closure once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:darwin: (OpenJDK 8)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#c25955d0-eca5-4c88-b2d1-9c700a57bc7f" target="_blank">:darwin: (OpenJDK 8)</a>)

Questions? Please file an issue in https://git

[2019-12-19 04:30] bazel-flag-bot opened #449 "Flag --incompatible_load_java_rules_from_bzl will break rules_closure in Bazel 1.2.1"
Incompatible flag --incompatible_load_java_rules_from_bzl will break rules_closure once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:darwin: (OpenJDK 8)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#c25955d0-eca5-4c88-b2d1-9c700a57bc7f" target="_blank">:darwin: (OpenJDK 8)</a>)
* [:ubuntu: 16.04 (OpenJDK 8)](<a href="ht

[2019-12-19 04:30] bazel-flag-bot opened #450 "Flag --incompatible_load_python_rules_from_bzl will break rules_closure in Bazel 1.2.1"
Incompatible flag --incompatible_load_python_rules_from_bzl will break rules_closure once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:darwin: (OpenJDK 8)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#c25955d0-eca5-4c88-b2d1-9c700a57bc7f" target="_blank">:darwin: (OpenJDK 8)</a>)
* [:ubuntu: 16.04 (OpenJDK 8)](<a href="

[2019-12-19 04:31] bazel-flag-bot opened #451 "Flag --incompatible_no_implicit_file_export will break rules_closure in Bazel 1.2.1"
Incompatible flag --incompatible_no_implicit_file_export will break rules_closure once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:darwin: (OpenJDK 8)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#c25955d0-eca5-4c88-b2d1-9c700a57bc7f" target="_blank">:darwin: (OpenJDK 8)</a>)
* [:ubuntu: 16.04 (OpenJDK 8)](<a href="htt

[2019-12-19 04:32] bazel-flag-bot opened #452 "Flag --incompatible_disable_target_provider_fields will break rules_closure in Bazel 1.2.1"
Incompatible flag --incompatible_disable_target_provider_fields will break rules_closure once Bazel 1.2.1 is released.

Please see the following CI builds for more information:

* [:darwin: (OpenJDK 8)](<a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/342#c25955d0-eca5-4c88-b2d1-9c700a57bc7f" target="_blank">:darwin: (OpenJDK 8)</a>)
* [:ubuntu: 16.04 (OpenJDK 8)](<a hr

[2019-12-24 14:15] davido commented on #300
@alexeagle @gkdn @Yannic

Any clue, how to fix this warning? After migration from Polymer 1 to Polymer 2 recently, that warning changes to be:

[code]

[2019-12-25 19:13] Yannic commented on #300
Smaller repro: `bazel build //polygerrit-ui/app:polygerrit_ui_closure_bin`.

Looking at the implementation of `polygerrit_bundle` [1], I see that there is a `closure_js_library` that has `gr-app.js` as input (`appName + ".js"`), which seems to be created by [2].

Looking at `bazel-bin/polygerrit-ui/app/gr-app.js`, I can see that there are two lines referencing source maps, `custom-style-interface.

[2019-12-26 21:07] davido commented on #300
Thanks, this is fixed now with: [1].

[1] https://gerrit-review.googlesource.com/c/gerrit/+/249314

[2019-12-26 21:07] #300 closed

[2019-12-26 21:28] bazel-flag-bot opened #454 "Flag --incompatible_no_implicit_file_export will break rules_closure in a future Bazel release"
Incompatible flag --incompatible_no_implicit_file_export will be enabled by default in a future Bazel release [1], thus breaking rules_closure.

The flag is documented here: https://github.com/bazelbuild/bazel/issues/10225

Please check the following CI builds for build and test results:

* <a href="https://buildkite.com/bazel/bazelisk-plus-incompatible-flags/builds/361#3012a04d-9013-48c7-adfc-cca

[2020-01-18 00:56] psybuzz opened #456 "Updating Closure jar on Bazel mirror"
Hello, I see that a Closure .jar is unavailable on the Bazel mirror [1], but 200s on the Maven URL [2].

Is there some process needed to update the Bazel mirror?

[1]
https://mirror.bazel.build/repo1.maven.org/maven2/com/google/javascript/closure-compiler-unshaded/v20190909/closure-compiler-unshaded-v20190909.jar

[2]
https://repo1.maven.org/maven2/com/google/javascript/closure-compiler-unshaded/v

[2020-01-22 18:51] alexeagle commented on #456
I mirrored this file just now, thanks for reporting it.

Of course this bug will recur with the next closure-compiler release unless we add bazel mirroring to the release steps. I'll reach out to someone on that team.

[2020-01-22 18:51] #456 closed

[2020-01-22 19:44] psybuzz commented on #456
Thank you!

[2020-02-02 01:12] pcj opened #469 "Replace phantomjs for closure_js_test"
I find that phantomjs renders closure_js_test rather limited in terms of web apis, it's hard to use, and the error messages aren't very good.

Is there any appetite for replacing phantomjs with some sort of headless chrome or other browser?  Has anyone started on such work?

For those interested in seeing phantomjs go away, what alternative(s) would you like to see?

[2020-02-03 21:53] gkdn commented on #469
Anything that's karma based + headless chrome sounds good to me.
See karma_web_test rules from node_js rules:
https://bazelbuild.github.io/rules_nodejs/Karma.html

[2020-02-12 00:45] pcj commented on #372
Ping on this issue. Would be great to have incremental DOM support.  Anyone know the effort required?

[2020-02-12 09:30] sgammon commented on #372
@pcj i have a version of this working on my fork, with a modified version of Soy. i'm working to get the changes into PR form, but i'd love help if you're interested ;)

[2020-02-12 09:31] sgammon commented on #469
i would kill for karma / headless chrome

[2020-02-12 19:22] robfig commented on #469
I just reviewed an internal update that replaces closure_js_test with one based on rules_webtesting. We'd be happy to contribute it after it has some time to bake, assuming there's someone that could review and merge it.

[2020-02-24 11:10] nicolasgarnier commented on #456
We'd also need this file mirrored: https://mirror.bazel.build/repo1.maven.org/maven2/com/google/javascript/closure-compiler-unshaded/v20180805/closure-compiler-unshaded-v20180805.jar

It's breaking the build from our project https://github.com/googlecodelabs/tools

[2020-02-24 11:12] nicolasgarnier commented on #456
nm I'll open another issue to get more visibility.

[2020-02-24 11:13] nicolasgarnier opened #472 "Missing Closure jar on bazel mirror"
We need this file mirrored: https://mirror.bazel.build/repo1.maven.org/maven2/com/google/javascript/closure-compiler-unshaded/v20180805/closure-compiler-unshaded-v20180805.jar

The file is available onrepo1.maven.org and was served by the bazel mirror up until recently.
It's breaking the build from our project https://github.com/googlecodelabs/tools

[2020-02-24 11:14] nicolasgarnier commented on #456
Filed here https://github.com/bazelbuild/rules_closure/issues/472

[2020-02-24 22:10] gkdn commented on #472
@nicolasgarnier Is there a reason to use a old version of the compiler?

@philwo This is about mirroring of an old release of the JS compiler; not directly related to rules_closure. Where is this bug should be filed?

[2020-02-24 22:17] nicolasgarnier commented on #472
Old project still using Bazel 0.18.1 with not much resources assigned to do the upgrade :)

[2020-03-01 19:19] Yannic commented on #469
I also have created a replacement for `closure_js_test` based on Selenium / `rules_webtesting`, but that's tied to some infra code and hard to open-source. It's also very complicated and responsible for a significant portion of the flakyness I'm seeing, so I don't think sure y'all even want to see my version ;). I've also recently started to look into solutions that don't run the tests in a full b

[2020-03-26 19:22] #399 closed

[2020-04-21 11:44] davido commented on #472
@gkdn @jDramaix @Yannic

We (Gerrit Code Review) are seeing supious warning during the build and CI related to stale URL in closure/repositories.bzl file:

[code]

[2020-04-21 11:49] Yannic commented on #472
Looks like these were never uploaded to bazel mirror.

@meteorcloudy Can you please upload these files to bazel mirror?
  - `https://github.com/google/protobuf/archive/v3.11.4.tar.gz`
  - `https://repo1.maven.org/maven2/com/google/javascript/closure-compiler-unshaded/v20200112/closure-compiler-unshaded-v20200112.jar`
  - `https://repo1.maven.org/maven2/com/google/javascript/closure-compiler-unshad

[2020-04-21 12:03] davido commented on #472
@Yannic but could @meteorcloudy upload anything to Maven Central? There is very complex release tool chain machinery to upload any artifact there? If artifact is only published on bazel mirror, then we have to remove th Maven Central URL entirely.

[2020-04-21 12:18] Yannic commented on #472
Yes, I was asking to get the artifacts uploaded to bazel mirror.

I may be missing something, but your comment seems to be about missing files on bazel mirror. If we add them to the mirror, this should be fixed (IMO, it's always a good idea to have multiple URLs, just in case bazel mirror ever shows hick-ups ;) ).

[2020-04-21 12:35] davido commented on #472
You are right. I wasn confused with "repo1.maven.org" substring in the URL but is all about bazel mirror.

[2020-04-21 17:31] meteorcloudy commented on #472
OK, the following artifacts are now available:

- https://mirror.bazel.build/github.com/google/protobuf/archive/v3.11.4.tar.gz
- https://mirror.bazel.build/repo1.maven.org/maven2/com/google/javascript/closure-compiler-unshaded/v20200112/closure-compiler-unshaded-v20200112.jar
- https://mirror.bazel.build/repo1.maven.org/maven2/com/google/javascript/closure-compiler-unshaded/v20200406/closure-compi

[2020-04-21 17:32] jDramaix commented on #472
We are really interested to upload our other project artifacts on bazel mirror too. Is there any documentation or process to follow for doing that ?

[2020-04-21 17:35] meteorcloudy commented on #472
This currently can only be done by a Bazel developer at google. Can you open an issue in bazel repo and ping me?

[2020-04-21 20:45] davido commented on #472
@meteorcloudy Thanks for the quick fix, really appreciated!

[2020-04-30 20:46] davido opened #483 ""error: [ExtendsAutoValue] Do not extend an @AutoValue/@AutoOneOf class in non-generated code" flagged by error prone"
I bumped error prone to 2.3.4 in Bazel, and conducted custom java tools release to catch more warnings in Gerrit Code Review project.

With bumped error prone version I see this breakage in Gerrit build, in `rules_closure`:

[code]

Workaround for now would be to disable that check or downgrade the severity to warning.

[2020-05-07 18:32] davido commented on #483
Reproducer.

Apply this diff:

[code]

And run:

[code]

[2020-05-07 20:11] gkdn commented on #483
Went over this. I don't see rules_closure doing anything special around auto value.

Looking at error-prone: the class is suppose to be skipped by javax.annotation.Generated, javax.annotation.processing.Generated annotation. And AutoValue would add that annotation if it exists.

So things you can try:
1. Check if AutoValue is adding Generated. If it s adding that, you should seek help on error pro

[2020-05-07 20:42] davido commented on #483
@gkdn Thanks for looking into it.

I think the issue is similar to rules_kotlin, see my PR here: [1]. auto-value cannot add @Generated annotation, because it is not on classpath: javax.annotation dependency is missing.

I will upload PR for review in a moment.

[1] https://github.com/bazelbuild/rules_kotlin/pull/320

[2020-05-07 21:01] davido commented on #483
With the referenced PR, the @Generated annotation is now there and this makes new version of Error Prone totally happy, no failure any more:

vim bazel-out/host/bin/java/io/bazel/rules/closure/webfiles/_javac/webfiles/libwebfiles_sourcegenfiles/io/bazel/rules/closure/webfiles/AutoValue_Webfile.java
[code]

[2020-05-11 19:06] davido opened #485 "Bump Protobuf to latest HEAD that removed support for Java 7"

[2020-05-14 00:54] robfig commented on #394
BTW, I merged that Gazelle module into my rules_closure fork.
9caf0b94a55951f8e56c042c61d0d2fe04db2f34

[2020-05-17 04:52] davido commented on #483
The reason why @Generated annotation is missing is the same as pointed out by @cushon in https://github.com/google/error-prone/issues/1348#issuecomment-629510511.

`rules_closure` is building also for host configuration. So the situation before applying the PR linked to this issue is already broken, and Error Prone upgrade only detects and reports it:

[code]

Now, as expected, in ./k8-fastbuild/b

[2020-06-02 13:15] eustas commented on #274
Another problem with protobuf - it is often does not build. E.g. now I get:
[code]

[2020-06-26 14:56] ribrdb opened #492 "protobuf well known types generated incorrectly"
protoc should generate extra helper methods for well known times, such as Timesamp.toDate.
However these don't get generated when you use the library option to protoc, and it appears that rules_closure always uses the library option.

[2020-07-02 10:41] davido commented on #483
As of: [1] Gerrit removed rules_closure dependency.

[1] https://gerrit-review.googlesource.com/c/gerrit/+/272773

[2020-07-02 10:41] #483 closed

[2020-07-02 10:41] davido commented on #221
As of: [1] Gerrit removed `rules_closure` dependency.

[1] https://gerrit-review.googlesource.com/c/gerrit/+/272773

[2020-07-02 10:42] #221 closed

[2020-07-02 10:42] davido commented on #485
As of: [1] Gerrit removed rules_closure dependency.

[1] https://gerrit-review.googlesource.com/c/gerrit/+/272773

[2020-07-02 10:42] #485 closed

[2020-07-02 10:42] davido commented on #346
As of: [1] Gerrit removed rules_closure dependency.

[1] https://gerrit-review.googlesource.com/c/gerrit/+/272773

[2020-07-02 10:42] #346 closed

[2020-07-18 01:56] gkdn commented on #469
@robfig Are you planning to contribute a replacement for phantomjs?

[2020-07-19 21:29] mbrukman opened #495 "Missing multiple recent `rules_closure` archives in Bazel mirror"
The [Setup section in the `README`][readme-setup] says to add the following code snippet in `WORKSPACE`:

[code]

However, the first URL (https://mirror.bazel.build/github.com/bazelbuild/rules_closure/archive/0.10.0.tar.gz) returns a 404.

Additionally, the following releases **don't exist** on the mirror, either:

* https://mirror.bazel.build/github.com/bazelbuild/rules_closure/archive/0.9.0.tar.

[2020-07-20 13:14] Yannic commented on #495
Thanks for reporting! That was probably just an oversight.

@meteorcloudy Can you upload the following files to Bazel-mirror, please? Thank you!
  - `https://github.com/bazelbuild/rules_closure/archive/0.10.0.tar.gz`
  - `https://github.com/bazelbuild/rules_closure/archive/0.9.0.tar.gz`
  - `https://github.com/bazelbuild/rules_closure/archive/0.8.0.tar.gz`

[2020-07-20 13:30] meteorcloudy commented on #495
https://mirror.bazel.build/github.com/bazelbuild/rules_closure/archive/0.10.0.tar.gz
https://mirror.bazel.build/github.com/bazelbuild/rules_closure/archive/0.9.0.tar.gz
https://mirror.bazel.build/github.com/bazelbuild/rules_closure/archive/0.8.0.tar.gz
Done.

[2020-07-20 14:33] mbrukman commented on #495
Verified that they're all there; thanks for fixing!

[2020-07-20 14:33] #495 closed

[2020-07-20 21:00] robfig commented on #469
I don't have the bandwidth at the moment, but I'm happy to share what we're using. Looking at it, I think it was just imported from somewhere, probably the rules_webtesting repo itself. I don't think you'd want to use it as-is

https://gist.github.com/robfig/f97541158982b7fad3daa9ac9132acad

[2020-07-26 23:11] mbrukman opened #496 "JsChecker crashes when assigning an arrow function to a var in a class"
I'm using latest commit of `rules_closure` because the latest release (0.10.0) is quite old (Oct 2019), and I've run into similar issues there as well.

Here's a relevant excerpt from my `WORKSPACE`:

[code]

I've created `closure_js_library()` and `closure_js_binary()` rules to compile [Preact Todo MVC](https://github.com/developit/preact-todomvc), but I'm running into various compiler errors.

H

[2020-07-27 21:27] gkdn commented on #496
ES6 Class field initialization is a non-finalized spec (Level 3 as of this writing) and not supported by Closure Compiler yet.

[2020-08-23 03:10] mbrukman opened #497 "Please create a new release past 0.10.0"
The latest release ([0.10.0](https://github.com/bazelbuild/rules_closure/releases/tag/0.10.0)) is from Oct 2019, which is quite old, and I've run into some issues with it, as mentioned in https://github.com/bazelbuild/rules_closure/issues/496, some of which have been fixed in the repo, so I am using an unnamed git commit hash instead of a release version.

Would it be possible to create a newer re

[2020-08-23 03:25] mbrukman opened #498 "JsChecker crashes on invalid template literal (JsCompiler shows error msg)"
Similar to issue https://github.com/bazelbuild/rules_closure/issues/496, I am running into issues where JsChecker is crashing with an internal error, while JsCompiler reports a meaningful error message.

Here's a relevant excerpt from my `WORKSPACE`:

[code]

Here's a minified example of a problematic file:

[code]

JsChecker fails on this file:

[code]

whereas JsCompiler reports an error message

[2020-08-23 03:49] mbrukman opened #499 "Missing closure-compiler-unshaded-v20200614.jar on mirror.bazel.build"
PR https://github.com/bazelbuild/rules_closure/pull/489 (commit https://github.com/bazelbuild/rules_closure/commit/d69cb55fa6e4d2f627c017e9ad3088d70214e938) updated JsCompiler to v20200614:

https://github.com/bazelbuild/rules_closure/blob/d69cb55fa6e4d2f627c017e9ad3088d70214e938/closure/repositories.bzl#L656-L666

However, the JAR referenced above does not appear on the Bazel mirror, leading to t

[2020-08-24 18:51] gkdn commented on #496
JsChecker uses JsCompiler directly so there should be no behavior difference which suggests that you are very likely testing with a different version of JsCompiler than the one used current with rules_closure.
rules_closure deps updated periodically so when that happens you will see the same error message here.

[2020-08-24 19:29] mbrukman commented on #496
@gkdn wrote:

The commit of this repo I'm using (https://github.com/bazelbuild/rules_closure/commit/62746bdd1087c1198a81143e7d8ef3d144a43c0f) includes JsCompiler version v20200614 (as of commit https://github.com/bazelbuild/rules_closure/commit/d69cb55fa6e4d2f627c017e9ad3088d70214e938), but the output from JsCompiler is the same at that version as well:

[code]

It's also the same using an even ea

[2020-08-24 19:55] gkdn commented on #496
Ok the behavior difference is then probably due to selected language from JsChecker: LanguageMode.ECMASCRIPT_2017 while using JsCompiler. It should be using ECMASCRIPT_NEXT or STABLE_IN to not fall behind.

You can properly repro the issue with JsCompiler using ```--language_in ECMASCRIPT_2017```

Thanks for digging this.

[2020-08-24 21:48] mbrukman commented on #496
JsCompiler doesn't crash when using `ECMASCRIPT_2017`:

[code]

Or the more recent one:

[code]

[2020-08-24 22:05] gkdn commented on #496
Got it; need to dig where the exception escapes. Re-opening the issue.

[2020-08-31 00:19] mbrukman commented on #497
While release 0.10.0 works locally on macOS, it [fails on Travis CI](https://travis-ci.org/github/mbrukman/preact-bazel-closure/jobs/722384357):

[code]

Here's the `.bazelrc` used in that run:

[code]

And here's the `WORKSPACE` from that run:

[code]

---

[2020-08-31 18:36] gkdn commented on #496
I reproduced the issue with Closure compiler; you need to pass `--continue_after_errors`; that is the parsing mode that is used for checking but not enabled by default on command line runner.

[2020-08-31 18:59] gkdn commented on #497
Added new release.

(The issue you are seeing is related to bazel versions.)

[2020-08-31 18:59] #497 closed

[2020-09-17 02:17] mbrukman opened #501 "Please upload release 0.11.0 to the Bazel mirror"
@gkdn, thanks for creating release 0.11.0 as requested in https://github.com/bazelbuild/rules_closure/issues/497!

Unfortunately, this release isn't yet available on the Bazel mirror; opening https://mirror.bazel.build/github.com/bazelbuild/rules_closure/archive/0.11.0.tar.gz shows the error:

The way the docs recommend using the releases is as follows

[code]

so while the build still works (beca

[2020-09-17 03:24] gkdn commented on #501
@philwo Could you pls add the latest release to Bazel mirror?

[2020-09-19 20:04] impalanichamy commented on #351
got this error when chack the version of phantomjs in my debian system

Auto configuration failed
139888421578688:error:25066067:DSO support routines:DLFCN_LOAD:could not load the shared library:dso_dlfcn.c:185:filename(libssl_conf.so): libssl_conf.so: cannot open shared object file: No such file or directory
139888421578688:error:25070067:DSO support routines:DSO_load:could not load the shared li

[2020-09-21 16:16] philwo commented on #501
@gkdn Done!

[2020-09-21 16:16] #501 closed

[2020-09-21 19:22] gkdn commented on #501
Tx

[2020-10-10 16:43] eustas opened #502 "No way to suppress "JSC_INVALID_OCTAL_LITERAL""
[code]
None of the proposed fixes work.

[2020-11-08 00:33] sgammon opened #504 "Error against latest Closure Compiler"
It looks like this new regression arises when building `rules_closure` against the latest Closure Compiler (`v20201102` at the time of this writing).

update: it's broken starting at `v20201006`.

Any ideas what might be happening here?

[code]

[2020-11-09 23:52] gkdn commented on #504
The missing file is from com_google_javascript_closure_library which is not the compiler.
Are you sure it is the compiler update that brakes you?

[2020-11-17 00:58] mbrukman opened #505 "Missing soy-2020-08-24.jar artifact on https://mirror.bazel.build"
The `mirror.bazel.build` URL mentioned here:

https://github.com/bazelbuild/rules_closure/blob/c5a2d603d1b020c6fd3d7463e8e443c896d79f45/closure/repositories.bzl#L743-L750

namely:

https://mirror.bazel.build/repo1.maven.org/maven2/com/google/template/soy/2020-08-24/soy-2020-08-24.jar

does not exist (returns 404), while the Maven URL does:

https://repo1.maven.org/maven2/com/google/template/soy/20

[2021-01-17 01:24] sgammon opened #509 "Weird issues with externs"
When trying to use [Google Maps externs](https://github.com/google/closure-compiler/blob/master/contrib/externs/maps/google_maps_api_v3_43.js), I get some very strange behavior that doesn't seem to have a remedy except for a bug fix.

consider the following property initializer in an arbitrary JS class and accompanying Bazel targets:

**`BUILD.bazel`**:
[code]

[code]

**`some-thing.js`:**
[code]

[2021-01-18 08:56] eustas commented on #502
PING!

[2021-01-20 20:19] gkdn commented on #502
If putting `/** @suppress {es5Strict} */` in your source didn't work, you need to file a bug with Closure compiler.

[2021-01-20 20:19] #502 closed

[2021-01-20 20:28] gkdn commented on #509
Could you reproduce the issue without rules_closure and file a bug with Closure Compiler?

IIRC, rules_closure doesn't let you suppress, and I'm not sure what criteria used there but this warning sounds something that you don't want to suppress.

[2021-01-28 17:56] robfig commented on #504
I can confirm that updating closure compiler alone from 20200614 to 20201207 results in this error, holding all other closure tool versions constant.

[2021-02-14 14:42] anantdamle commented on #374
+1
how is `web_library` different than `closure_js_binary`?

[2021-02-16 19:24] gkdn commented on #374
I think web_library was originally developed as a mechanism to bundle and serve web component which includes html and css in addition to JavaScript files. It takes validation beyond JS; provides validation across these assets and also defines how they will be served my server.
I'm not sure about the quality about those rules and they were mostly experimental and their development halted quite a wh

[2021-03-24 12:22] eustas commented on #502
Compiler has parameter `--strict_mode_input` whose default value is `true`. I that is why compiler ignores the suppression.
If `--strict_mode_input` is set to false, then error does not appear.

[2021-03-29 21:04] concavelenz commented on #502
Fixing the source might be the fastest way to resolve this.

[2021-03-29 21:26] eustas commented on #502
Octal literals are 1.5-2x denser than hexadecimal for storing binary data (in strings).
"strict" more is useless anyways, so there is no real reason not to use octal literal for the purpose of library minification.

[2021-04-09 06:26] sgammon commented on #504
@gkdn any ideas?

[2021-04-09 06:35] sgammon opened #516 "`goog.requireType` breaks //closure/library"
In the switchover to `goog.requireType`, it seems like an issue is created with `rules_closure` w.r.t. `//closure/library`.

When I try to update `rules_closure` to the latest `closure-library` version, I get errors relating to `requireType` and missing dependencies, as expected:

[code]

Now, this isn't entirely unexpected because the regex to calculate/generate dependencies for the Bazel side lo

[2021-04-09 06:42] sgammon commented on #516
@gkdn have you encountered / solved this issue for J2CL

[2021-04-09 06:57] sgammon commented on #504
removing the deprecated transitional forward declarations doesn't change anything here. the `base_lib_worker_input` that invoked `JsCompiler` looks like this:

[code]

[2021-04-10 02:31] gkdn commented on #516
Sorry I don't have much experience with goog.requireType but my recollection of requireType is that it still requires the dependency to exist but it doesn't hold onto them during bundling / optimized output; which might be outdated.

@shicks Could you pls verify my recollection? Are these libs expected to have circular deps? What @sgammon refers here is the auto generated build rules for closure l

[2021-04-10 03:22] gkdn commented on #504
How do you reproduce the problem?

I updated closure compiler version to 20201207 and suppressed the closure library related errors; `bazel test ...` succeeds with Bazel 3.3.0 and 4.0.0.

[2021-04-16 08:12] sgammon commented on #516
@shicks AFAICT, `rules_closure` can't be used w/latest closure library unless this can get an answer

[2021-04-16 18:44] gkdn commented on #516
@shicks is out of office. Adding @12wrigja and @kjin who could help.

[2021-04-17 00:29] 12wrigja commented on #516
My understanding is that `requireType` helps avoid circular dependencies so long as the cycle exists entirely within a single build target (as it doesn't alleviate the cycle at the Bazel level).

Creating BUILD targets that are per-file (as indicated [here](https://github.com/bazelbuild/rules_closure/blob/a1a8128fe1a6b978c88822a3462f99bfcc7fd14a/closure/library/regenerate.py#L18)) is unlikely to w

[2021-04-17 18:57] sgammon commented on #516
gotcha, thank you @12wrigja and @gkdn

[2021-04-24 03:58] sgammon commented on #504
@gkdn are you sure you cleared the `jar_sha256` in `repositories.bzl`? i got the same result as you, but once i cleared the `sha256` and ran `bazel clean`, i got the same error against `v20201207`

[2021-04-24 04:44] gkdn commented on #504
I'm sure because I need to suppress closure library related errors.

I pushed the commit to my fork here:
https://github.com/gkdn/rules_closure/pull/new/update_closure_compiler

[2021-04-28 04:59] saikumar-everest commented on #351
Any solution to this yet?

[2021-04-28 05:06] AustinSchuh commented on #351
My fixes were submitted in 2019.  It was enough for me to operate on Debian Buster where I couldn't before.

[2021-05-05 15:28] guw commented on #274
@eustas Did you figure out the issue for the errors you ran into compiling protobuf? Just saw the same on a different person's machine.

[2021-06-02 00:27] mbrukman opened #525 "Update Closure Compiler from `v20200614` to `v20210505`"
The current version of Closure Compiler hard-coded in the rules is quite old (`v20200614`):

https://github.com/bazelbuild/rules_closure/blob/6c344a0894f0645a0dc84f9cd0cf39d56bb01a24/closure/repositories.bzl#L656-L666

However, Closure Compiler has been releasing on a monthly cadence, and the latest version (at the time of this writing) is [`v20210505`](https://github.com/google/closure-compiler/r

[2021-06-02 01:29] gkdn commented on #525
We are open to update of the version and will be happy to have a patch for it. These are no extra process other than automated tests passing.

However, in this particular case it seems like there are 2 issues that would need to be figured out, https://github.com/bazelbuild/rules_closure/issues/504 and https://github.com/bazelbuild/rules_closure/issues/516 for update.

Let me know if you have any o

[2021-06-04 11:18] tobia commented on #351
Even quicker version of the harky workaround:
```export OPENSSL_CONF=/dev/null```

[2021-06-08 16:29] kjin opened #526 "Delete closure_js_deps"
Hi -- in Closure Library we are planning to remove the `depswriter.py` script, which is deprecated and superceded by the `closure-make-deps` binary that is part of the [`google-closure-deps`](https://www.npmjs.com/package/google-closure-deps) npm package.

The `closure_js_deps` rule here depends on `depswriter`, using it to output a `deps.js` file. I'd like to reimplement this to use the aforement

[2021-06-09 03:48] gkdn commented on #526
Actually Closure library and compiler is not checking into the repository. They are external deps.
And my recollection is that this repo doesn't depend on node or other means of executing tooling written in javascript.

So it seems like the options are:
1. Integrate with `rules_nodejs` to be able to use `google-closure-deps` (not sure how large of a dependency rules_nodejs or how much work that wi

[2021-06-09 23:12] kjin commented on #526
deps.js is still used if code is being loaded with the debug loader, which I believe is still a current use case. I'm not sure if we can get rid of `closure_js_deps` outright.

I'll try looking into integrating with rules_nodejs. If all else fails, we could also move `depswriter` from Closure Library to here.

[2021-06-09 23:36] gkdn commented on #526
For example non-of our customers use debug loader and the recent internal trend is to switch bundlers (due to performance reasons). So I think that's the question;  do people still care about it or is it something just for legacy?

[2021-06-11 21:18] kjin commented on #526
There is [a bit of usage](https://github.com/search?l=Python&q=closure_js_deps+NOT+%22This+package+tests+the+behavior+of+closure_js_deps.%22+NOT+%2F%2Fjavascript%2Fwebdriver%2Fatoms%3Aall_js_for_testing+-filename%3Ahyperion2_deps_runfiles_test.sh&type=Code), but it's true that deps.js is indeed legacy and should be discouraged in the future.

@concavelenz pointed out that it might be good to remov

[2021-06-11 23:10] kjin commented on #526
I did an audit of the [uses of this rule](https://github.com/search?q=closure_js_deps&type=code), and it seems that for the most part people aren't using it, or they're using it in places where they're not needed. We can delete it, and if users do need it they can fork the rule (re-define it locally) and [the Python scripts](https://github.com/google/closure-library/tree/master/closure/bin/build)

[2021-06-11 23:15] kjin commented on #526
So, if we do delete this -- should we create a release deprecating closure_js_deps first?

[2021-06-11 23:22] gkdn commented on #526
Sound like a good idea.

[2021-06-16 15:16] JorgeLNH commented on #351
Thanks **tobia**, it worked.

[2021-06-23 17:51] kjin commented on #526
@gkdn Hey Goktug -- is there an upcoming release for rules_closure planned? It would be great to have a release deprecating this rule first, and a subsequent one deleting it.

[2021-06-23 18:26] gkdn commented on #526
https://github.com/bazelbuild/rules_closure/releases/tag/0.12.0

[2021-06-23 22:47] kjin commented on #526
Thank you!

I think this particular issue is resolved -- I (or someone on my team) will circle back in a few months to get it deleted.

[2021-06-23 22:47] #526 closed

[2021-06-27 20:19] eustas commented on #274
Could **runtime** dependency to protocol-buffers be cut?

IIUC protocol-buffers generate code so that is **compile-time** dependency. Why protocol-buffers have to be **built** when I use rules_closure?

[2021-06-28 06:50] eustas commented on #274
Since protos are used only in java and not persisted (between versions), there is no added value from protocol buffers. JAXB could be used and does not require building anything (pure maven jar dependency).
Will prepare PR when I have enough  free time.

[2021-07-08 19:08] mkilpatrick commented on #504
Any plans to address this soon?

[2021-08-06 09:07] sampajano opened #528 "Possibly updating Closure Library to `v20210601`? :)"
We have a recent change in https://github.com/grpc/grpc-web which requires the newest version of closure library ([`v20210601`](https://github.com/google/closure-library/releases/tag/v20210601)). I wonder how much effort would it be for rules_closure to upgrade to it (current version is [`20191027`](https://github.com/bazelbuild/rules_closure/blob/master/closure/repositories.bzl#L695-L706) if i'm

[2021-08-06 19:24] gkdn commented on #528
The main issue is https://github.com/bazelbuild/rules_closure/issues/516

To be honest, I don't know the effort required since I don't know all the implications of goog.requireType and have not spent much time around the script that generates the BUILD targets .

Being said that; that issue needs to be resolved one way or the other for going forward.

[2021-08-07 00:11] sampajano commented on #528
Thanks so much for the context, Goktug! I'll follow-up with you on #516 :)

@Yannic Hey Yannic! Cc'ing you here because @stanley-cheung has mentioned you've helped with similar issues in the past.. and in case you have some ideas too :)

[2021-08-26 13:42] eustas opened #529 "Fails to load on Windows"
Tried to run bazel with io_bazel_rules_closure in GitHub Actions Windows-2019 environment and got
[code]

I suspect that `third_party/png:libpng_k8` does not consider it is not in Linux environment.

[2021-11-11 16:51] mai93 opened #543 "rules_closure macos tests are failing in BazelCI"
rules_closure tests on Mac are failing with both Bazel@head and Bazel 4.2.1
Bazel 4.2.1: https://buildkite.com/bazel/rules-closure-closure-compiler/builds/1632#67a97508-5a2f-47ed-8746-aa1db00dfaec
Bazel@Head: https://buildkite.com/bazel/bazel-at-head-plus-downstream/builds/2244#1d80b36d-a762-420e-af8c-9d8203bacb00

Sample error log: https://storage.googleapis.com/bazel-untrusted-buildkite-artifact

[2021-11-11 20:19] #525 closed

[2021-11-11 20:19] #528 closed

[2021-11-11 20:19] #412 closed

[2021-11-11 20:19] #504 closed

[2021-11-11 20:19] #516 closed

[2021-11-11 20:20] gkdn commented on #543
Should be fix with https://github.com/bazelbuild/rules_closure/commit/01d45e9138d271077a03c278ff703524bcefd8e9

[2021-11-11 20:20] #543 closed

[2021-11-11 20:24] gkdn commented on #505
It is removed now.

[2021-11-11 20:24] #505 closed

[2021-11-11 20:24] gkdn commented on #499
It is removed now.

[2021-11-11 20:24] #499 closed

[2021-11-11 21:39] gkdn commented on #498
This is very likely fixed now. Please re-open if not.

[2021-11-11 21:39] #498 closed

[2021-11-11 21:41] #472 closed

[2021-11-11 21:42] #452 closed

[2021-11-11 21:42] #451 closed

[2021-11-11 21:42] #450 closed

[2021-11-11 21:42] #449 closed

[2021-11-11 21:42] #448 closed

[2021-11-11 21:43] #333 closed

[2021-11-11 21:44] gkdn commented on #324
closure_js_deps is removed, closing the bug.

[2021-11-11 21:44] #324 closed

[2021-11-11 21:44] #305 closed

[2021-11-11 21:44] #254 closed

[2021-11-11 21:45] #224 closed

[2021-11-15 11:34] kcs-santoshahire commented on #351
I was also facing same issue,

Thanks @tobia its working..!

[2021-11-29 23:11] meiremans commented on #351
thanks @tobia

adding ENV OPENSSL_CONF=/dev/null to a Dockerfile based on node:16 will make phantomjs work again.

[2022-03-21 11:05] gramic opened #550 "Missing require in closure library for goog.a11y.aria.datatables"
In the [datatables.js](https://github.com/google/closure-library/blob/d31065ce7d26bbdedc4a364578fbb106d847f9da/closure/goog/a11y/aria/datatables.js#L28) file, there is this line:
[code]
The `goog.a11y.aria` is not required by `goog.require`. Recently in the history of the file, there was a `@suppress` for missing require, but was removed at the current version.
I forked the library, just to add a

[2022-03-22 02:03] gkdn commented on #550
@kjin Do you know why the suppression why the suppression was removed? I saw the CL but there wasn't any clarification why it was no longer needed.

[2022-03-25 23:44] gkdn commented on #550
I have just updated to the latest versions of Closure Compiler and Library to take that out of the equation. @gramic could you check if the problem still exits?

[2022-03-28 06:41] gramic commented on #550
I forgot to mention, that I did rule that out before with `omit_com_google_javascript_closure_library = True,` with the latest compiler/library and the error still exists.  Anyway, just tried with your updates and there is no difference.

[2022-03-28 21:59] gkdn commented on #550
@shicks @kjin Any ideas here?

[2022-03-28 22:21] shicks commented on #550
Kelvin is no longer at Google.

@concavelenz cleaned up the `missingRequire` as part of a global cleanup he did a few quarters ago.  I don't know if he can give any additional context.  It was added by @nreid260 (who is also no longer on the JS teams), so the removal CL was essentially just a rollback of the CL that added it.  I have no idea why it was added in the first place (from reading the li

[2022-03-29 06:27] gramic commented on #550
Doing it exactly as you suggested, works without errors. Here is the [patch](https://github.com/gramic/closure-library/commit/2085f647dd677503703d4a2e1267d1eebf3e9e43) that shows it.

[2022-04-16 04:55] mbrukman opened #552 "Update README setup instructions to refer to 0.12.0 release"
The latest release (as of this writing) is 0.12.0 (actually released in June 2021), but the Setup instructions in the README are still talking about 0.10.0:

https://github.com/bazelbuild/rules_closure/blob/01d45e9138d271077a03c278ff703524bcefd8e9/README.md#L67-L88

It would be nice to have copy-pastable setup instructions, including the sha256 hash, for the 0.12.0 release.

[2022-04-16 19:29] mbrukman opened #555 "rules_closure 0.12.0 missing on Bazel mirror"
0.12.0 was released in June 2021, but it's still not available on Bazel mirror:

https://mirror.bazel.build/github.com/bazelbuild/rules_closure/archive/0.12.0.tar.gz currently returns:

[code]

Trying to download it using the changes in https://github.com/bazelbuild/rules_closure/pull/553 shows the error:

[2022-04-18 19:49] #552 closed

[2022-04-18 19:56] gkdn commented on #555
@philwo

[2022-04-19 00:24] Yannic commented on #555
@meteorcloudy could you help mirror this file please?

[2022-04-19 13:56] meteorcloudy commented on #555
Done

[2022-04-19 13:56] #555 closed

[2022-05-04 05:37] karthikeyaGit61 commented on #351
This worked for @tobia

[2022-05-05 12:17] dbauszus-glx commented on #351
I was able to solve this by installing openssl 3.0.3 from source and switch to node v18+

The problem occured for me when I upgraded from Ubuntu 21.10 to 22.04

[2022-07-14 18:38] nanarito opened #560 "Passing defs-define at commandline"
This may end up being a better question on bazel itself, but is there a way to get bazel to pass defs in the bazel build command itself? I know you can have a BUILDfile with a rule and defs=['--define=X=y'] . I also know you can finnick with the bazel --define and then write a select() in the BUILDfile . Is there a way to just directly set this without changing the build, or to set up the build to

[2022-07-29 17:22] mancusi opened #563 "Targeting rules_closure at head results in "cannot find symbol" errors"
Pulling in rules_closure as an http_archive:
[code]

Fails to build `closure_js_binary` targets with the following errors:
[code]

[2022-07-29 17:24] mancusi commented on #563
This commit introduced the symbols https://github.com/bazelbuild/rules_closure/commit/6bbbfc7d80474a6a1a4491da7b601c0cab440b07

[2022-07-29 22:20] gkdn commented on #563
It sounds like you are overriding the Closure Compiler version in your workspace; have you checked that?

[2022-07-30 12:08] mancusi commented on #563
Ah yep! We were pulling in an unshaded closure compiler jar that I had missed. Thanks for the tip :)

[2022-07-30 12:08] #563 closed

[2022-08-03 20:34] gkdn commented on #560
I am not aware of such feature but you can double check with Bazel folks.

[2022-08-03 20:34] #560 closed

[2022-08-03 20:36] #550 closed

[2022-10-21 04:42] 62015021 commented on #351
Error: html-pdf: Unknown Error
Auto configuration failed

    at ChildProcess.respond (/home/chayanin/sale-invoice-a4/node_modules/html-pdf/lib/pdf.js:134:17)
    at ChildProcess.emit (node:events:513:28)
    at ChildProcess._handle.onexit (node:internal/child_process:293:12)
Error: html-pdf: Unknown Error
Auto configuration failed

me run in server help plz